* {
  outline: lime solid 1px;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  font-size: small;
}

#Clouds {
  background-image: url("/src/assets/cloudy3.jpg");
  height: 100%;

  /* background-repeat: no-repeat; */
}
#Haze {
  background-image: url("/src/assets/haze.jpg");
  height: 100%;
}
#Mist {
  background-image: url("/src/assets/misty.jpg");
  height: 100%;
}
#Clear {
  background-image: url("/src/assets/clear3.jpg");
  height: 100%;
}

.weather-app {
  height: 50rem;
  display: grid;
  grid-template-rows: 20% 2fr;
  grid-gap: 1em;
  justify-content: center;
  background-image: url("src/assets/clear.jpg");
  height: 100%;

  /* background-repeat: no-repeat; */
}
.search-container {
  justify-self: center;
  height: auto;
}
.result-container {
  justify-self: center;
  margin-top: 20%;
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: xx-large;
  color: whitesmoke;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
form #name {
  width: 15em;
  height: 2em;
  font-size: medium;
  justify-self: center;
}
button {
  margin: 1em;
}
.result {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0.2em black solid;
  background-color: white;
  opacity: 60%;

  border-radius: 0.5em;
  width: 15em;
}
p {
  color: black;
}
@media (max-width: 600px) {
  .offering-text {
    font-size: large;
    text-align: center;
  }
  .result-container {
    justify-self: center;
    margin-top: 10%;
  }
  .search-container {
    margin-top: 10%;
  }
}
